/*@font-face {
    src: url('../fonts/Bitmgothic.ttf');
}*/

@font-face {
    src: url('../fonts/DungeonFont.ttf');
}

.button {
    -fx-font-family: 'DungeonFont';
    -fx-font-size: 20px;
    -fx-text-fill: #3e2731;
    -fx-pref-width: 198px;
    -fx-pref-height: 75px;
    -fx-background-image: url('../images/button.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-size: stretch;
}

.button:hover {
    -fx-text-fill: #081819;
    -fx-background-image: url('../images/button-hover.png');
}

.sideMenuBox {
    -fx-background-image: url('../images/side-menu-background.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: stretch;
}

.check-box, .label {
    -fx-font-family: 'DungeonFont';
    -fx-font-size: 20px;
    -fx-text-fill: #d7c9c9;
}

.fLabel {
    -fx-font-family: 'DungeonFont';
    -fx-font-size: 30px;
    -fx-text-fill: #feae34;
}

.gridLabel {
    -fx-padding: 0 15px 0 15px;
}

.lobbyBox {
    -fx-background-color: #e8b796;
}