# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Google Drive\Schule\Technikum Wien\Wintersemester 20-21\Programmieren\FastLane\the_achis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
